html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.MyButton{
    outline:auto;
    text-decoration:inherit;
    font:italic,14px,Helvetica;
    
    background-color:coral
}

th,td{
    padding:10px;
    border-bottom 1px solid;
}

tr:hover {
   background-color:chartreuse;
}
body {
    background-image: url('../image/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.MyTable{
    background-color:azure;
    width:100%;
}