html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.MyButton{
    outline:auto;
    text-decoration:inherit;
    font:italic,12px,Helvetica;
    
    background-color:coral
}